In [2]:
import numpy as np
import pandas as pd

In [3]:
country=["India","Pakistan","Nepal","Sri Lanka","USA"]
series=pd.Series(country)
print(series)

0        India
1     Pakistan
2        Nepal
3    Sri Lanka
4          USA
dtype: object

In [15]:
runs=[13,24,56,78,100]
runSeries=pd.Series(runs)
print(runSeries)

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [20]:
marks=[67,57,89,100]
subjects=['maths','english','science','hindi']

marks=pd.Series(marks,index=subjects,name="Praveer k marks")
print(marks)
print("The size of the ",marks.size)
marks.dtype
print("is unique ",marks.is_unique)

maths       67
english     57
science     89
hindi      100
Name: Praveer k marks, dtype: int64
The size of the  4
is unique  True

import pandas as pd
pd.Series([1,1,2,3,4,5]).is_unique

marks.values

***** Series using read_csv

In [25]:
import pandas as pd
bollywood=pd.read_csv("bollywood.csv")
bollywood.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [17]:
bollywood.tail(3)

                     movie          lead
1497       Saathiya (film)  Vivek Oberoi
1498        Company (film)    Ajay Devgn
1499  Awara Paagal Deewana  Akshay Kumar

In [21]:
bollywood.value_counts()

movie                     lead
Andaaz                    Akshay Kumar       2
Tanu Weds Manu: Returns   Kangana Ranaut     2
Gabbar Is Back            Akshay Kumar       2
Noor (film)               Sunny Leone        1
No Smoking (2007 film)    John Abraham       1
                                            ..
Genius (2018 Hindi film)  Utkarsh Sharma     1
Gayab                     Tusshar Kapoor     1
Gauri: The Unborn         Mohan Azaad        1
Gattu                     Naresh Sharma      1
Global Baba               Pankaj Tripathi    1
Name: count, Length: 1497, dtype: int64